In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("dados/db1_scores.csv")

In [3]:
df

,image_name,c1,c2,c3,c4,c5,c_total,MOS,SD,MOS_zscore
0,10004473376.jpg,0,0,25,73,7,105,3.828571,0.527278,77.383621
1,10007357496.jpg,0,3,45,47,1,96,3.479167,0.580003,68.728571
2,10007903636.jpg,1,0,20,73,2,96,3.781250,0.527220,78.628571
3,10009096245.jpg,0,0,21,75,13,109,3.926606,0.556218,77.243750
4,100117038.jpg,0,1,21,72,6,100,3.830000,0.532860,75.112500
...,...,...,...,...,...,...,...,...,...,...
10068,9984535544.jpg,0,0,46,55,3,104,3.586538,0.550562,70.020089
10069,9991658304.jpg,0,1,12,85,6,104,3.923077,0.455651,79.337838
10070,9991999836.jpg,0,0,15,79,7,101,3.920792,0.462237,78.092437
10071,9995874256.jpg,0,3,53,51,1,108,3.462963,0.570717,68.095133
10072,9996001596.jpg,0,2,57,43,1,103,3.417476,0.551722,67.219027

In [4]:
df = df.sort_values(by=["MOS_zscore"])

In [5]:
imagesData = df.iloc[np.arange(0,11000,1000)]

In [6]:
names = imagesData["image_name"]

In [7]:
for row in names.values:
    print (row)

80184044.jpg
7625539278.jpg
5884745280.jpg
6563196289.jpg
5930876150.jpg
8244017611.jpg
9527678556.jpg
8647121069.jpg
379323686.jpg
9604185976.jpg
9670754375.jpg