In [3]:
import pandas as pd
import os

In [89]:
def read_data(url):
    return pd.read_csv(os.path.abspath(url),index_col=0)
data = read_data("../../extracao/datanov2.csv")

In [90]:
data.index = data.index.rename("nome")

In [91]:
data

,edge_simpl,hue_simpl,average_lum,contrast_ratio,hist_width,blur,score
nome,,,,,,,
10004473376.jpg,0.001081,7,41.526758,0.000000,0.003876,0.498065,77.383621
10007357496.jpg,0.001082,17,66.373103,0.008127,0.003110,0.495744,68.728571
10007903636.jpg,0.001081,16,54.814935,0.000000,0.003324,0.494343,78.628571
10009096245.jpg,0.001079,17,14.681202,0.000000,0.002972,0.497337,77.243750
100117038.jpg,0.001083,14,77.800492,0.000000,0.003171,0.494853,75.112500
...,...,...,...,...,...,...,...
9984535544.jpg,0.001082,18,39.107523,0.000000,0.002037,0.501049,70.020089
9991658304.jpg,0.001080,14,44.251944,0.000000,0.003891,0.498962,79.337838
9991999836.jpg,0.001080,17,57.842979,0.002332,0.003753,0.499522,78.092437
9995874256.jpg,0.001082,17,62.265024,0.011355,0.003661,0.493174,68.095133
9996001596.jpg,0.001082,14,66.368036,0.000000,0.003860,0.497952,67.219027

In [64]:
edge = read_data("dataExp.csv")

In [65]:
edge

                 edge_simpl2
nome
10004473376.jpg     0.001116
10007357496.jpg     0.001116
10007903636.jpg     0.001116
10009096245.jpg     0.001113
100117038.jpg       0.001118
...                      ...
9984535544.jpg      0.001116
9991658304.jpg      0.001116
9991999836.jpg      0.001116
9995874256.jpg      0.001116
9996001596.jpg      0.001112

[10073 rows x 1 columns]

In [7]:
a = {'col1':["A","B"],"col2": [1,2]}
b = {'col1':["A","B"],"col3": ["um","dois"]}

A = pd.DataFrame(a)
B = pd.DataFrame(b)

In [9]:
B

  col1  col3
0    A    um
1    B  dois

In [93]:
merge = pd.merge(data, edge, on='nome')

In [94]:
cols = list(merge.columns.values)
cols

['edge_simpl',
 'hue_simpl',
 'average_lum',
 'contrast_ratio',
 'hist_width',
 'blur',
 'score',
 'edge_simpl2']

In [96]:
a = cols[-1]
cols[-1] = cols[-2]
cols[-2] = a
cols

['edge_simpl',
 'hue_simpl',
 'average_lum',
 'contrast_ratio',
 'hist_width',
 'blur',
 'edge_simpl2',
 'score']

In [99]:
df = merge[cols]
df.to_csv("expfeature.csv")